@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #4d869c;
  --secondary: #cde8e5;
  --white: #eef7ff;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #eef7ff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary);
}

body {
  overflow: hidden;
  height: 100vh;
}
.container {
  display: flex;
}
aside {
  width: 20%;
  height: 100vh;
  background-color: var(--secondary);
  padding: 5px;
}

.profile {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 5%;
}
.profile img {
  border-radius: 50%;
  width: 30%;
}

p.profile {
  color: var(--primary);
}

ul.sidebar {
  padding: 0 10% 0 10%;
  list-style-type: none;
  background-color: var(--secondary);
  width: auto;
}

.sidebar li {
  color: #4d869c;
  align-items: center;
  display: flex;
  background-color: var(--secondary);
  margin-top: 30%;
}

.sidebar li img {
  height: 20px;
  width: auto;
  background-color: transparent;
  margin-right: 10px;
}

hr.aside {
  border: 1px solid var(--primary);
  border-radius: 50px;
  width: 90%;
  margin: auto;
}

h1.inbox {
  color: var(--primary);
  margin: 4% 0 4% 7%;
  font-size: 300%;
  width: fit-content;
}

.input-box {
  position: relative;
  width: 95%;
  height: 50px;
  border: none;
  padding-left: 35px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  outline: none;
}
.input-box::placeholder {
  color: #bfbfbf;
}
img.bars {
  width: 25px;
  position: absolute;
  top: 14px;
  left: 6px;
}

.task-input {
  position: relative;
  width: 100%;
}

ul {
  list-style-type: none;
}
ul.task-box {
  list-style-type: none;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
ul.task-box li {
  height: 2%;
  margin: 0;
  padding: 2%;
}

::-webkit-scrollbar {
  display: none;
}

li.task {
  margin: 5% 0 5% 0;
}
img.clear {
  background-color: transparent;
  border: none;
}
.clear {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  background-color: var(--secondary);
  padding-right: 1%;
  padding-left: 2%;
  border: solid 1px var(--primary);
  border-radius: 10px;
}

.clear:hover {
  background-color: var(--white);
  transition: background-color 0.3s ease;
}

.clear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  border: none;
  font-weight: 500;
  font-size: 80%;
  background-color: transparent;
}

li.task {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 2%;
}
input.checkbox {
  width: fit-content;
}
p.task {
  width: fit-content;
}
label.task {
  display: flex;
  gap: 5%;
}
.settings {
  width: fit-content;
  padding-right: 5%;
}

.task-menu li {
  display: flex;
  gap: 10px;
}

p.checked {
  text-decoration: line-through;
  color: #bfbfbf;
}
input.checkbox {
  accent-color: var(--primary);
  display: flex;
  align-items: center;
}
title {
  background-image: url(./images/profile-pic.jpg);
}

.task-menu {
  width: 7%;
  transform: scale(0);
  box-shadow: 0 0 6px rgb(149, 144, 144);
  padding: 5px;
  background-color: #eef7ff;
  border-radius: 5px;
  /* display: none; */
  position: absolute;
  transform-origin: top left;
  transition: transform 0.2s ease;
}

.settings ul.task-menu.show {
  transform: scale(1);
}

.uil-pen,
.uil-trash {
  width: fit-content;
  background-color: transparent;
}
.uil-ellipsis-h {
  background-color: transparent;
}

.task-menu li:hover {
  background-color: #cde8e5;
  cursor: pointer;
}

.filters span {
  cursor: pointer;
  padding-right: 5%;
  align-items: center;
  font-size: smaller;
}

span.active {
  color: #003300 !important;
}

.filters span {
  color: #4d869ca5;
}

hr#labels {
  border: 1px solid var(--primary);
  width: 100%;
}

.controls {
  padding: 1% 0 1% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.emptyTask {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.inbox-content {
  background-color: #eef7ff;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task-card {
  width: 70%;
  margin-left: 5%;
  padding: 2%;
  height: 65%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

p.count-all {
  background-color: var(--secondary);
  border-radius: 50%;
  height: 5%;
  width: auto;
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
}

hr.uil {
  border: 1px solid var(--primary);
}
